<div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Search"
                   [(ngModel)]="globalFilterKeyword" (ngModelChange)="gridFilterOnChange($event)">
            <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"
                    (onClick)="gridGlobalFilterButtonOnClick($event)"></button>
        </div>
    </div>

    <div class="ui-g-12 ui-md-4" *ngIf="filtersDataLoaded">
        <ng-container *ngFor="let key of filters_data_keys">
            <p-dropdown *ngIf="gridFilterData[key].is_visible"
              [disabled]="gridFilterData[key].is_disabled"
              [options]="gridFilterData[key].data"
              [(ngModel)]="selectedFilters[key]"
              (onChange)="gridFilterOnChange($event)"
              optionLabel="label"></p-dropdown>
        </ng-container>
    </div>

</div>
