<h1>
  {{title}}
</h1>

<app-data-grid-controller #treeTableGrid
  [filters_data_keys]="filters_data_keys" [filter_data_url]="filter_data_url"
  (applyGridFilters)="applyGridFilters($event)"
></app-data-grid-controller>

<p-treeTable [value]="gridData" [columns]="colNames"
             (sortFunction)="gridSort($event)" [customSort]="true"
             [paginator]="true" [rows]="10" [resizableColumns]="true">
    <ng-template pTemplate="header" let-columns>
        <tr [ttRow]="rowNode">
            <ng-container *ngFor="let col of columns">
                <th *ngIf="colData[col].visibility != 'force-hidden'" [ttSortableColumn]="col" [style.width]="colData[col].width">
                    {{colData[col].title}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
             </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <ng-container *ngFor="let col of columns; let i = index">
                <td *ngIf="colData[col].visibility != 'force-hidden'">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 1"></p-treeTableToggler>
                    {{rowNode.node[col].value | dynamicPipe: colData[col]}}
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-treeTable>

<p>
  runtime: {{runtime}}
</p>
