@import "./variables";
@import "./primeflex/primeflex";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
@import '~primeicons/primeicons.css';

@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

html, body {
  font-family: Roboto, sans-serif;
  color: $base-text-color;
  font-weight: 300;
  font-size: 14px;
}

body {
  margin: $base-gap/2 $base-gap;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-text-color;
}

.border-box {
  border: $base-border-light;
  padding-bottom: $base-gap;
}
.background-box {
  background: $base-background-light;
}

.p-grid, .p-grid>div {
  box-sizing: border-box;
}
.p-nogutter {
  padding-bottom: 0 !important;
}

.reg-text-link {
  text-decoration: none;
  &:link, &:visited {
    color: $base-text-color;
  }
}

.buttons-line {
  white-space: nowrap;
}

.disabled {
  color: $disabled-text-color;
}
