// for npm roboto-fontface package (to load local files)
$roboto-font-path: "~roboto-fontface/fonts" !default;

// global vars
$base-dark-color: #184369;
$base-light-color: #d8e8f6;

$base-text-color: lighten($base-dark-color, 15%);
$negative-text-color: #fff;
$disabled-text-color: #e9eaed;

$base-border-light-color: #e9eaed;
$base-border-light: 1px solid $base-border-light-color;

$base-background-light: $base-light-color;
$base-background-dark: $base-dark-color;
$hover-background-dark: lighten($base-dark-color, 10%);
$disabled-background-dark: lighten($base-dark-color, 70%);

$base-gap: 1.0em;


// for primeflex scss file
$gutter: $base-gap !default;
